version: '3'
services:
    web:
        image: nginx:latest
        ports:
            - "8086:80"
        volumes:
            - ./conf.d:/etc/nginx/conf.d
            - ./app:/app
        depends_on:
            - php
        restart: always
    php:
        build:
            context: .
            dockerfile: PHP.Dockerfile
            args:
                APP_ENV: ${APP_ENV}
        volumes:
            - ./app:/app
            - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
        depends_on:
            - mysql
        restart: always
    mysql:
        image: mariadb:latest
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USER}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}
        volumes:
            - coralnodes_phpcms:/var/lib/mysql
            - ./my_custom.cnf:/etc/mysql/mariadb.conf.d/my_custom.cnf:ro
            - coralnodes_mysql_logs:/var/log/mysql
        ports:
            - "127.0.0.1:33096:3306"
        restart: always
volumes:
    coralnodes_phpcms: {}
    coralnodes_mysql_logs: {}
        
