name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Master
        uses: actions/checkout@master

      - name: Set up Node.js 20
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install Dependencies
        run: |
          cd app
          composer install
          npm install

      - name: Create SSH Key File
        run: |
          echo "${{ secrets.VPS_KEY }}" > ~/vps_key
          chmod 600 ~/vps_key

      - name: Sync project folder to VPS
        env:
          RSYNC_RSH: "ssh -o StrictHostKeyChecking=no -i ~/vps_key -p ${{ secrets.VPS_PORT }}"
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync
          rsync -avz --delete --exclude='.env' -e "$RSYNC_RSH" ./ abhinav@${{ secrets.VPS_HOST }}:/home/abhinav/coralnodes-site-php

      - name: setup environment files
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cp /home/abhinav/.cnenv /home/abhinav/coralnodes-site-php/.env
            cp /home/abhinav/.cnenv /home/abhinav/coralnodes-site-php/app/.env
